.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 250px;
  height: 150px;
  border-radius: 13px;
  flex-basis: 33.33333333%;
  margin-bottom: 20px;
}

.container {
  padding: 4px 16px;
}

@media (max-width: 900px) {
  .card {
    flex-basis: 50%;
  }
  .card:last-child {
    flex-basis: 100%;
    text-align: center;
  }
}
