.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 600px) {
  .dashboard {
    flex-direction: column;
  }
}
