.footer {
  background-color: #fbfbfb;
  border-top: 1px solid #e7e7e7;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.footer__text {
  padding-top: 20px;
}
